{% extends "base.html" %}
 {% block pagebody %}
    {% if user %}
    <div class="container h-100">
        <div class="jumbotron">
            <h4 class="display-6">Benvenuto, {{ user.email }}!</h4>
            <p class="lead">Con questa applicazione potrai gestire la tua palestra.</p>
            <hr class="my-4">
            <p>Potrai visualizzare tutte le prenotazioni e configurare le tue regole in base alle normative vigenti.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('wr_bp.weight_rooms') }}" role="button">Verifica le prenotazioni</a>
            </p>
        </div>
    </div>
    {% endif %}

{% endblock %}