<html>
    <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <link  href="/static/styles/main.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/static/js/script.js"></script>
      {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <title>Gym app</title>
    </head>
    <header>
      {% if route != 'login' and route != '/unauthorized' and user %}
      <!-- Navbar -->
      
        <nav class="header navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="{{ url_for('private') }}">
            <img src="https://www.goldsgym.com/assets/dist/img/logo/notext/fullcolor.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Gym application
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
                {# menu dinamico in base all'utente #}
                
                {% if user and user.role == "owner"  %}
                      <a class="nav-item nav-link {{ 'active' if route == '/admin_dashboard' or route == '/private' else '' }}" aria-current="page" href="{{ url_for('admin_dashboard') }}">Home</a>
                  {% else %}
                  
                      <a class="{{ 'active' if route == '/private' or route == '/admin_dashboard' else '' }} nav-item nav-link" aria-current="page" href="{{ url_for('private') }}">Home</a>
                    
                {% endif %} 
                
                  <a class="{{ 'active' if route == '/weight_rooms'  or route == '/previous' or route == '/next' else '' }} nav-item nav-link" href="{{ url_for('wr_bp.weight_rooms') }}">Sala Pesi</a>
                
                
                  <a class="{{ 'active' if route == '/courses' else '' }} nav-item nav-link" href="{{ url_for('courses_bp.courses') }}">Corsi</a>
                
                {% if user and user.role == "owner"  %}
                  
                    <a class="{{ 'active' if route == '/setting' else '' }} nav-item nav-link" href="{{ url_for('settings_bp.setting') }}">Configurazione</a>
                  
                {% endif %} 
            </div>
          </div>
            <img src="static/img/avatar_man.png" alt="Avatar" class="avatar">
            {% if user %}
              <span class="user" style="margin-right: 10px;">Ciao {{user.email}}</span>
            {% endif %} 
          </div>
          <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-light" type="submit">Logout</button>
          </form>
        </nav>
        <!-- Navbar -->
        {% endif %} 
    </header>
    <body>
      {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        
      {% endblock %}
      
      {% block pagebody %}

        {% endblock %}
    </body>
    <footer class="footer navbar-dark bg-dark">
        <p>Author: Daniele Berton</p>
        <p><a href="mailto:859041@stud.unive.it">859041@stud.unive.it</a></p>
    </footer>
</html>
