<html>
    <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
      <link  href="/static/styles/main.css" />

      <script src="/static/js/script.js"></script>
      {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <title>Gym app</title>
    </head>
    <header>
      {% if route != 'login'  %}
      
      <!-- Navbar -->
      
        <nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="https://www.goldsgym.com/assets/dist/img/logo/notext/fullcolor.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Gym application
          </a>
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {# menu dinamico in base all'utente #}
                
                {% if user and user.role == "owner"  %}
                  <li class="{{ 'active' if route == '/admin_dashboard' or route == '/private' else '' }} nav-item">
                      <a class="nav-link" aria-current="page" href="{{ url_for('admin_dashboard') }}">Home</a>
                  </li>
                  {% else %}
                  <li class="{{ 'active' if route == '/private' or route == '/admin_dashboard' else '' }} nav-item">
                      <a class="nav-link" aria-current="page" href="{{ url_for('private') }}">Home</a>
                    </li>
                {% endif %} 
                <li class="{{ 'active' if route == '/weight_rooms' else '' }} nav-item">
                  <a class="nav-link" href="{{ url_for('weight_rooms') }}">Sala Pesi</a>
                </li>
                <li class="{{ 'active' if route == '/courses' else '' }}  nav-item">
                  <a class="nav-link" href="{{ url_for('courses') }}">Corsi</a>
                </li>
              </ul>
            </div>
            <span class="user">Ciao {{user.email}}</span>
          </div>
          <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-light" type="submit">Logout</button>
          </form>
        </nav>
        <!-- Navbar -->
        {% endif %} 
    </header>
    <body>
      {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        
      {% endblock %}
      
      {% block pagebody %}

        {% endblock %}
    </body>
    <footer class="footer navbar-dark bg-dark">
        <p>Author: Daniele Berton</p>
        <p><a href="mailto:859041@stud.unive.it">859041@stud.unive.it</a></p>
    </footer>
</html>

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(45, 45, 45);
      color: white;
    }

    .footer p {
      padding-left: 10px;
    }
    
</style>