{% extends "base.html" %}
{% block pagebody %}


<div class="container h-100">
    <div class="p-10">
        <form action="{{ url_for('wr_bp.weight_rooms') }}">
    
            <button type="submit" class="btn btn-outline-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
                Torna alla lista</button>
        </form>
    </div>
    <div>

        {% if is_booked %}
        <p><b>Disdici Slot</b></p>
        <p>{{ slot.day }} </p>
        <p>{{ slot.hour_from }} - {{ slot.hour_to }} </p>
        <p>Posti disponibili: {{ slot.places }}</p>
        Prenotazione per l'utente: {{ user.email }}
        <form action="/unbook_slot" method="GET">

            <button type="submit" name="slot_id" id="slot_id" value="{{slot.id}}" class="btn-warning btn">Disdici prenotazione</button>
        </form>
        {% else %}
        <p><b>Prenota Slot</b></p>
        <p>Giorno: <b>{{ slot.day }}</b> </p>
        <p>ID: <b>{{ slot.id }}</b> </p>
        <p>Orario: <b>{{ slot.hour_from }} - {{ slot.hour_to }}</b> </p>
        Prenotazione per l'utente: <b>{{ user.email }}</b>
        <p>Posti disponibili: <b>{{ slot.places }}</b></p>
        <form action="/book_slot" method="GET">
            {% if slot.places < 1 %} <p>Limite posti superato, non è possibile prenotare questo slot</p>
                <button type="submit" class="btn-success btn" name="slot_id" id="slot_id" value="{{slot.id}}" disabled>Conferma</button>
                {% else %}
                <button type="submit" class="btn-success btn" name="slot_id" id="slot_id" value="{{slot.id}}">Conferma</button>
                {% endif %}
        </form>
        {% endif %}
    </div>

</div>

{% endblock %}