{% extends "base.html" %}
 {% block pagebody %}

 <!-- <form method ="post" action="/">
    <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
    <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
  </form>  -->
    
    <h5 class="m-2">Sala pesi</h5>
    <!-- <h5 class="m-2">Sala pesi <h5> -->
    <!-- Start calendar --> 
    <div class="container">
        <div class="row">
            {% for day in days %}
                <div class="col-sm">
            
                    {{ day.day_name }}
                    {{ day.day }} {{ day.month }}

                    {% for slot in slots %}
                        <!-- check if slot is the same day of calendar -->
                        {% if slot.day == day.day %}
                        
                        
                        <form action="/select_slot" method="GET" >
                            <button type="submit" name="slot_id" id="slot_id" value="{{slot.id}}">
                                <p><b>Slot temporale</b></p>
                                <p>Fascia oraira</p>
                                <p>{{ slot.hourFrom }} - {{ slot.hourTo }} </p>            
                            </button>
                        </form>

                    {% endif %} 

            {% endfor %}
            </div>
            {% endfor %}
        </div>
      </div>
    </body>

    <form action="/logout" method="POST">
        Logout 
        <input type="submit">
    </form>
{% endblock %}