{% extends "base.html" %}
{% block pagebody %}

<!-- <form method ="post" action="/">
    <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
    <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
  </form>  -->

  <!-- Start calendar -->
  <div class="container">
    <h5 class="m-2">Sala pesi</h5>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <form action="/previous" method="GET">
                    <button type="submit" class="page-link" name="start_date" id="start_date"
                        value="{{start_date}}">Previous</button>
                </form>
            </li>
            <li class="page-item">
                <form action="{{ url_for('weight_rooms') }}" method="GET">
                    <button type="submit" class="page-link">1</button>
                </form>
            </li>
            <li class="page-item">
                <form action="/next" method="GET">
                    <button type="submit" class="page-link" name="start_date" id="start_date"
                        value="{{start_date}}">Next</button>
                </form>
            </li>
        </ul>
    </nav>

    {% if user.role == 'owner' %}
    <form action="/bookink_list" method="GET" >
        <button type="submit" class="btn-outline-primary btn">
            Visualizza lista totale prenotazioni
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
        </button>
    </form>
    {% endif %}
    <div class="row">
        {% for day in days %}
        <div class="col-sm" style="margin-top: 10px;">
            <div > 
                <b>{{ day.day_name }} {{ day.day }} {{ day.month }}</b>
            </div>

            {% for slot in slots %}
                
                {#
                <!-- check if slot is the same day of calendar -->
                #}
                {% if slot.date == day.date %}
                
                    {# <!-- check if admin -->  #}
                    {% if user.role == 'owner' %}
                        <div class="card mt-10" style="width: 14rem;">
                            <div class="card-body">
                                <h5 class="card-title">Slot</h5>
                                <p class="card-text">Fascia oraira</p>
                                <p>Posti: {{ slot.places }}</p>
                                <p>{{ slot.hourFrom }} - {{ slot.hourTo }} </p>
                                <form action="/select_slot" method="GET">
                                    <button type="submit" name="slot_id" id="slot_id" value="{{slot.id}}"
                                        class="btn-primary btn">
                                        Visualizza lista
                                    </button>
                                </form>

                            </div>
                        </div>
                    {# <!-- end admin -->  #}
                    {% else %}


                    <!-- check if the slot is booked from current user -->
                    {% if slot.id in bookings %}
    
                        <div class="card mt-10" style="width: 14rem;">
                            <img class="card-img-top" src="static/img/gym.jpeg" alt="Gym image">
                            <div class="card-body">
                                <h5 class="card-title">Disdici Slot</h5>
                                <p class="card-text">Fascia oraira</p>
                                <p>Posti: {{ slot.places }}</p>
                                <p>{{ slot.hourFrom }} - {{ slot.hourTo }} </p>
                                <form action="/select_slot" method="GET">
                                    <button type="submit" name="slot_id" id="slot_id" value="{{slot.id}}"
                                        class="{{ 'btn-danger' if slot.places < 1 else 'btn-warning' }} btn">
                                        Rimuovi
                                        {% if daily_limit != 99999999 %}
                                            <span class="badge badge-pill badge-light">Limite giornaliero: {{daily_limit - slot.daily_reservations}}</span>
                                        {% endif %}
                                    </button>
                                </form>
    
                            </div>
                        </div>
    
                    {% else %}
                        <div class="card mt-10" style="width: 14rem;">
                            <img class="card-img-top" src="static/img/gym.jpeg" alt="Gym image">
                            <div class="card-body">
                                <h5 class="card-title">Prenota Slot</h5>
                                <p class="card-text">Fascia oraira</p>
                                <p>Posti: {{ slot.places }}</p>
                                <p>{{ slot.hourFrom }} - {{ slot.hourTo }} </p>
                                <!-- {# START MODAL #} -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Prenota</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                    {% if total_week >= week_limit %}
                                                        Limite settimanale di accessi superato : {{week_limit}}
                                                    {% else %}
                                                            <p>Procedere con la prenotazione.</p>
                                                            {% if week_limit == 99999999 %}
                                                                <p>Non sono previste limitazioni agli accessi</p>
                                                            {% else %}
                                                                <p>Hai ancora a disposizione <b>{{ week_limit - total_week}}</b> prenotazione questa settimana</p>
                                                            {% endif %}

                                                    {% endif %}
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <form>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </form>
                                                    <form action="/select_slot" method="GET">
                                                        {% if total_week < week_limit %}
                                                        <button id="btn"  type="submit" name="slot_id" id="slot_id" value="{{slot.id}}"
                                                        class="{{ 'btn-danger' if slot.places < 1 else 'btn-success' }} btn">
                                                        Procedi
                                                        </button>
                                                        {% endif %}
                                                    </form>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- {# END MODAL #} -->
    
                                {% if slot.daily_reservations < daily_limit %}
    
                                    <form>
                                        <button type="button" data-toggle="modal" data-target="#myModal"
                                            class="{{ 'btn-danger' if slot.places < 1 else 'btn-success' }} btn" onclick='myFunction({{slot.id}})'>
                                            Prenota
                                            {% if daily_limit != 99999999 %}
                                                <span class="badge badge-pill badge-warning">Limite giornaliero: {{daily_limit - slot.daily_reservations}}</span>
                                            {% endif %}
                                        </button>
                                    </form>
                                    {% else %}  
                                    <form>
                                        <button type="button" data-toggle="popover"
                                            class="btn-danger btn" onclick='myFunction({{slot.id}})'>
                                            <strike>Prenota</strike>
                                                <span class="badge badge-pill badge-light">Limite giornaliero: {{daily_limit - slot.daily_reservations}}</span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% endfor %}
            <!-- end for slots -->
        </div>
        {% endfor %}
        <!-- end for days -->
    </div>
</div>
</body>

{% endblock %}