.header {
    border-bottom: 2px solid rgb(177, 175, 175) !important;
}

.slot {
    border: 1px solid rgb(48, 47, 47) !important;
    background-color: rgb(177, 175, 175);
    max-width: 120px;
}

.booked_slot {
    background-color: rgb(214, 78, 78) !important;

}

.free_slot {
    background-color: rgb(125, 218, 48) !important;
}

.full_slot {
    background-color: rgb(230, 157, 29) !important;
}

.user {
    color: white;
}

/* override bootstrap class */
.width-96 {
    width: 96% !important;
}

.container {
    padding-bottom: 100px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.p-24 {
    padding: 24px;
}

.p-10 {
    padding: 10px;
}

.pb-10 {
    padding: 10px;
}

.mt-10 {
    margin-top: 10px;
}


/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #e6edf0 !important;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}